extends layout.pug
include components.pug
block content
  block top
  block list

  nav(aria-label='Page navigation example')
    ul.pagination.pagination-lg.justify-content-center
      if page>0
        li.page-item
          a.page-link(href=`?page=${page-1}${querystring?"&"+querystring:''}`) â†
      if page<totalPage
        li.page-item
          a.page-link(href=`?page=${page+1}${querystring?"&"+querystring:''}`) â†’


block scripts
