extends listPage.pug
block head
  script(src="/web/js/spotlight.bundle.js")
block top
  h2.mt-2=title
  nav.navbar.mb-2
    form(class="form-inline",action="", method="get")
      select(name="sort",class="form-control mr-sm-2  mb-2")
          option(value="id",selected= sort=="id") add
          option(value="like_num",selected=(sort=="like_num")) like
          option(value="pubdate",selected=(sort=="pubdate")) 发布
      select(name="type",class="form-control mr-sm-2  mb-2")
          option(value="") 无
          option(value="video" ,selected=(type=="video")) video
      button(class="btn btn-outline-success my-2 my-sm-0") 确定

  
block list
  div(class="postlist")
    each post in postList
        +PostCard(post)
